@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@100&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Roboto:wght@100&display=swap"); */

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat" sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  color: #333;
  font-weight: 400;
  overflow-x: hidden !important;
}

input {
  outline-color: #008001;
}

::selection {
  background-color: rgba(0, 128, 0, 0.25);
  color: #666;
}
::-webkit-scrollbar {
  width: 0.8rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}


/* ALERTS */
.alert {
  padding: 2rem 2.4rem;
  border-radius: .4rem;
  display: flex;
  align-items: center;
  gap: .8rem;

  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20000000;
  transition: all .35s ease-in;
}
.alert.alert--success {
  background-color: #C6F6D5;
  box-shadow: .2rem .2rem 2rem rgba(0, 128, 1, .25);
}
.alert.alert--error {
  background-color: #FED7D7;
  box-shadow: .2rem .2rem 2rem rgba(255, 0, 102, .25);
}
.alert--icon {
  font-size: 2.4rem;
}
.alert--success .alert--icon {
  color: #38A169;
}
.alert--error .alert--icon {
  color: #E53E3E;
}
.alert--text {
  font-size: 1.4rem;
  line-height: 1.2;
}


.section {
  padding: 4.8rem 0;
}

.section__tabs {
  max-width: 120rem;
  margin: 55px auto;
  padding: 0 2.8rem;
}

.section__container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.8rem;
}
.heading__primary {
  font-size: 5.6rem;
  font-weight: 500;
  line-height: 1.15;
  margin-bottom: 1.8rem;
  color: #fff;
  margin-bottom: 2.4rem;
  letter-spacing: 0.2px;
}
.heading__tetariary {
  font-size: 2.2rem;
  margin-bottom: 2.8rem;
  color: #008001;
  font-weight: 600;
  text-transform: capitalize;
}
.heading__tetariary.profile {
  display: none;
  opacity: 0;
}
.hero--extra {
  color: #ffc107;
}

.ads__box--xl {
  width: 100%;
  height: 25rem;
  background-color: #fff;
  position: relative;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.15);
}

.ads__box--sm {
  width: 70%;
}

.ads__box--big {
  width: 90%;
  height: 25rem;
  background-color: #eee;
  position: relative;
}
.ads__box--big::after,
.ads__box--xl::after {
  content: "AD";
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.6rem;
  height: 2.4rem;
  background-color: #008001;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-container {
  position: absolute !important;
  z-index: 10;
  left: -15px !important;
  top: 90px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #ff0066;
  transition: all !important;
  transition-duration: 300ms !important;
}

.icon-container-2 {
  position: absolute !important;
  z-index: 10;
  right: -15px !important;
  top: 90px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #ff0066;
  transition: all !important;
  transition-duration: 300ms !important;
}

.icon-container--tabs-left {
  position: absolute !important;
  z-index: 10;
  left: 58px !important;
  top: 141px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #ff0066;
  transition: all !important;
  transition-duration: 300ms !important;
}

.icon-container--tabs-right {
  position: absolute !important;
  z-index: 10;
  right: 58px !important;
  top: 141px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50% !important;
  background-color: #ff0066;
  transition: all !important;
  transition-duration: 300ms !important;
}

.premium {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-left: auto; */
}
.subscription__fee {
  margin-left: 30px;
  font-weight: 700;
}   
/* 
#008001
#FFC107
#FF0066
*/

/* FEEDS */
.feeds__section {
  padding: 3rem;
  margin-bottom: 1.2rem;
}

.feeds__img__container {
  width: 49rem;
  height: 47.6rem;
}

.btn-primary {
  color: #fff;
}

/* .feeds__img__container__1 {
  
} */

.loader__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

img__preview {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

img__preview--container {
  display: flex;
  justify-content: center;
}

.editorClassName{
  background: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow-y: auto;
  box-sizing: border-box;
  min-height: 300px;
}

.editor-container {
  width: 100%;
  height: 500px; /* Adjust the height as needed */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* Add a vertical scrollbar if content overflows */
}
.wrapperClassName{
  overflow-y: auto;
  
}

.display__col {
  display: grid;
  height: 637px;
  width: 600px;
  padding: 0 30px;
  margin-top: 70px;
  margin-bottom: 50px;
}
.dropdown-menu, .notification-box {
  background-color: #fff;
  padding: 2.4rem 3rem;
  overflow-y: auto;
  z-index: 100;
  color: #333;
  
  position: absolute;
  right: 0rem;
  transition: all 0.25s;
  opacity: 1;
  /* box-shadow: .2rem 0 1.2rem rgba(0, 0, 0, 0.15); */
}
.dropdown-menu {
  max-width: 32rem;
  width: 32rem;
  max-height: 49rem;
  top: 9rem;
}
.notification-box {
  top: 7rem;
  height: 90vh;
  width: 35rem;
}
.dropdown-list, .notification-list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.dropdown-list--top {
  padding-bottom: 2.4rem;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  transition: all .35s;
}
.dropdown-item:hover {
  color: #ff0066;
}
.dropdown-list--bottom {
  border-top: 1px solid #eee;
  padding-top: 1.8rem;
}

.click__outside--modal {
  position: fixed;
  opacity: 0;
}

.outsideclick {
  width: 500px;
  height: 500px;
  /* background: #333; */
}

.link--text {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post--like {
  transition: all .35s;
  color: red;
  animation: scale-in .35s ease-in !important;
}
.post--like:hover {
  animation: zoomInOut 1s ease-in infinite;
}
@keyframes scale-in {
  0% {
    transform: scale(0.5);
  } 50% {
    transform: scale(2);
  } 100% {
    transform: scale(1);
  }
}
@keyframes zoomInOut {
  0% {
    transform: scale(1);
  } 50% {
    transform: scale(1.2);
  } 100% {
    transform: scale(1);
  }
}


.tags__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.1rem;
}
.tag {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 200px;
  justify-content: center;
  cursor: pointer;
  padding: 0.6rem 1.8rem;
  background-color: #eee;
  color: #444;
  border: 1px solid transparent;
  font-size: 1.4rem;
  border-radius: 1.8rem;
}

.tag__active {
  border: 1px solid #333;
}
.nav__logo {
  width: 14rem;
}

.input__style {
  border: 1px solid pink;
  padding: 10px;
  border-radius: 5px;
  margin: 20px 0;
}

/* .mySwiper  {
  height: 34rem !important;
} */
.mySwiper .card__figure {
  height: 30rem !important;
}


/* Media query for mobile screens (adjust the breakpoint as needed) */
@media (max-width: 768px) {
  .element {
    display: flex;
    padding: 5px 20px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 0;
    /* margin-right: 260px; */
  }

  .microphone {
    margin-left: 6px;
  }
}

@media screen and (max-width: 700px) {
  .display__col {
    .ck.ck-editor {
      width: 90%;
    }
   
  }

  .icon-container--tabs-right {
    right: 0px !important;
    top: 119px !important;
    width: 32px !important;
    height: 34px !important;
  }  
  .icon-container--tabs-left {
    left: 0px !important;
    top: 119px !important;
    width: 32px !important;
    height: 34px !important;
  }  
}



/* ============================================== */
/*  */
/* ============================================== */


.search--modal {
	padding: 1.6rem 2rem;
	background-color: #fff;
	position: fixed;
	/* min-height: 40rem; */
  /* max-height: 40rem; */
	width: 50rem;
	top: 15%;
	left: 10%;
	border-radius: 0.24rem;
	box-shadow: 0.2rem 0.2rem 2rem rgba(0, 0, 0, 0.15);
	z-index: 10;
}
.modal--head {
	display: flex;
	flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
	margin-bottom: 1.2rem;
	padding-bottom: 1rem;
	border-bottom: 1.4px solid #eee;
}
.modal--icon {
	font-weight: 600;
	font-size: 2.4rem;
	margin-left: auto;

	transform: rotate(0deg);
	transition: all 0.35s;
	cursor: pointer;
}
.modal--icon:hover {
	transform: rotate(360deg);
	color: #ff0066;
}
.modal--tabs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #eee;
  gap: .8rem;
  padding: .4rem;
  border-radius: .6rem;
}
.modal--tab {
  padding: .8rem 1rem;
  background-color: #eee;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: .6rem;
  transition: all .35s ease-in;
  cursor: pointer;
}
.modal--tab:hover {
  background-color: #ddd;
  color: #555;
}
.modal--tab.tab--active {
  background-color: #ff0066;
  color: #fff;
}



.modal--content {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  max-height: 28rem;
}
.modal--flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.modal--figure {
  display: grid;
  grid-template-columns: 6rem 1fr;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 1.2px solid #eee;
  padding-bottom: .6rem;
}
.modal--figure img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}
.modal--details {
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.modal--name {
  font-size: 1.4rem;
}
.modal-email {
  font-size: 1.2rem;
  color: #777;
  display: flex;
  align-items: center;
  gap: .2rem;
}
.modal--others {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.modal--others span {
  display: flex;
  align-items: center;
  gap: .6rem;
  font-size: 1.6rem;
}
.modal--others span p {
  font-size: 1.2rem;
  color: #555;
}
